[user]
	email = pdp.eleven11@gmail.com
	name = Siarhiej Siemianczuk

[init]
	defaultBranch = main

[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	ff = only
[core]
	excludesFile = ~/.gitignoreglobal
[commit]
	gpgsign = true
