[user]
	email = binjip978@gmail.com
	name = binjip978

[init]
	defaultBranch = main

[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	ff = only
[core]
	excludesFile = ~/.gitignoreglobal
